{% extends 'base.html.twig' %}

{% block title %}Modifier Genre{% endblock %}

{% block body %}

    <div class="container my-5">    

        <h3>Modifier ce genre</h3>
        
        {% if genre %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Titre</th> 
                </tr>
            </thead>
            <tbody>            
                <tr>      
                    <td>{{ genre.id }}</td>
                    <td>{{ genre.titre }}</td>
                </tr>            
            </tbody>
        </table>
        {% endif %}

        {{ form_start(form) }}
            {{ form_widget(form) }}

            <input class="btn btn-primary" type="submit">
        {{ form_end(form) }}

    </div>

{% endblock %}
